<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js"></script>


    <!-- Title -->
    <title>LVA-011</title>
</head>

<body>
    <header>
    </header>

    <main class="container card  shadow mt-5" id="assement" v-cloak>
        <div class="text-center bg-light pt-2">
            <h2>Customer Search</h2>
        </div>
        <div>
            <div class="mb-2 ms-3 "><b>Search</b></div>
            <input class="w-25 ms-3 mb-3" type="text" v-model="input">
        </div>
        <div>
            <div>
                <div class="d-flex justify-content-between bg-light border shadow ">
                    <div class="ms-3 mb-2 p-2 fw-bold ">Total Customers : {{ customer.length }}</div>
                    <div class="text-end me-3 fw-bold p-2 ">Customers Matched :{{input? input1.length:0}} </d>
                    </div>
                </div>
                <div>
                    <form>
                        <table class="table  table-bordered border-dark shadow">
                            <thead>
                                <tr class="bg-secondary">
                                    <th>Customer Name</th>
                                    <th>EmailId</th>
                                    <th>Users</th>
                                    <th>Teams</th>
                                    <th>Meetings</th>
                                    <th>Forms</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="data in input1" :value="data">
                                    <td>{{data.Name}}</td>
                                    <td>{{data.emailid}}</td>
                                    <td>{{data.users}}</td>
                                    <td>{{data.teams}}</td>
                                    <td>{{data.meetings}}</td>
                                    <td>{{data.forms}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>


    </main>
    <footer>
    </footer>

    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js "></script>


    <Script>
        $(document).ready(function() {
            cxsearch()
        })
    </Script>
    <script src="../vue.js"></script>

</body>

</html>