.dot {
    width: 0px;
    height: 0px;
    border: 2px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

[v-cloak] {
    display: none;
}