<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js"></script>


    <!-- Title -->
    <title>LVA-005</title>
</head>

<body>
    <header>
    </header>

    <main class="container mt-5 text  ">
        <section class="card shadow" id="todolists" v-cloak>
            <h2 class="text-center"> To Do list</h2>


            <div class="d-flex justify-content-around">
                <input classs="ms-2 " type=" text " v-model="inputTodo" placeholder="New List" />
                <button @click="createTodo" style="width:10%">add</button>
            </div>
            <div class="card ms-5 mt-3 " style="width:80%">
                <ul>
                    <li v-for="todo in todos " v-cloak>{{ todo }}

                        <button @click="deleteTodo(todo) " class=" mt-2 ms-5 " v-cloak>Delete</button>
                    </li>
                </ul>

            </div>
            <div>
                <div class="text-center  ">Items to Complete today :<label v-if="todos.length " v-cloak>{{ todos.length }}</label></div>

            </div>
        </section>
    </main>

    <footer>
    </footer>

    <noscript>Your browser don' t support JavaScript!</noscript>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC " crossorigin="anonymous ">
    <!-- vuejs -->
    <Script>
        $(document).ready(function() {
            todolist({})
        })
    </Script>
    <script src="../vue.js"></script>

</body>

</html>