[v-cloak] {
    display: none;
}

#toDoList {
    margin-top: 10%;
    width: 50%;
}

h5 {
    padding-top: 10px;
    text-align: center;
}

input {
    width: 80%;
}

.remove {
    text-align: end;
}