<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">
    <script src="./index.js"></script>


    <!-- Title -->
    <title>LVA-007</title>
</head>

<body>
    <header>
    </header>

    <main>
        <div class="container" id="appsl" v-cloak>
            <div class="card w-50 mt-5 ms-5 ">
                <h3 class="text-center bg-light ">Place selector</h3>
                <div class="d-flex justify-content-around mt-3 ">

                    <label class=" w-25 ms-4 ">Country:</label>
                    <select v-model="SelectedCountry " class="form-select h-100 w-75 me-4 ">


                <option v-for=" Co in Country " v-bind:value=" Co ">{{Co}}</option>
                </select>
                </div>
                <div class="d-flex justify-content-around mt-3 ">
                    <label class=" w-25 ms-4 ">State:</label>
                    <select v-model="SelectedState " class="form-select h-100 w-75 me-4 ">
                <option v-for=" s in State " v-bind:value=" s " >{{s}}</option>
                </select>
                </div>
                <div class="d-flex justify-content-around mt-3 mb-3 ">
                    <label class=" w-25 ms-4 ">City:</label>
                    <select v-model="SelectedCity " class="form-select h-100 w-75 me-4 ">
                <option v-for="c in City " v-bind:value="c ">{{c}}</option>
                </select>
                </div>
                <div class="d-flex justify-content-end mb-3 ">
                    <button @click="getcity()" class="btn border h-100 w-25 me-5 ">Set Default</button>
                    <button class="btn border h-100 w-25 me-5 ">Submit</button>
                </div>
                <div class=" d-flex justify-content-center ">
                    <Label class="me-3 ">Selected Place: </Label>
                    <div class="me-3 border">{{SelectedCountry}}</div>
                    <div class="me-3 border ">{{SelectedState}}</div>
                    <div class="me-3 border">{{SelectedCity}}</div>
                </div>
            </div>


        </div>
    </main>
    <footer>
    </footer>

    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
    <!-- vuejs -->

    <Script>
        $(document).ready(function() {
            Placeselector()
        })
    </Script>
    <script src="../vue.js"></script>

</body>

</html>