<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" /> -->
    <!-- CSS Files Links -->
    <!-- <link rel="stylesheet" href="./styles.css" /> -->

    <!-- Title -->
    <title>LVA-013</title>
  </head>

  <body>
    <main id="EmailMocker" class="container mt-5">
      <h4 class="text-center">Email Mocker</h4>
      <div class="border p-3">
        <div class="row gx-5">
          <div class="col">
            <div id="input" class="email-holder border d-flex justify-content-between countNo col ellipsis" v-for="item of emailList" @click="clickEmail(item)">
              <label class="">{{item.content.substring(0,8)+"(...)"}}</label>
              <label v-if="item.readStatus == false">New</label>
              <label v-else>Read</label>
            </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">{{emailDisplay}}</div>
          </div>
        </div>
      </div>
      <div class="col border">
        <textarea class="mt-2 h-75 w-75" id="w3review" name="w3review" rows="4" cols="50" v-model="emailContent"></textarea>
        <div class="d-flex px-5 my-4 me-4">
          <button class="btn btn-secondary mx-5" @click="addToList">Send</button>
          <button class="btn btn-secondary mx-0" @click="discard">Discard</button>
        </div>
      </div>
    </main>
    <!-- CDN Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <!-- Scripts -->
    <script src="../vue.js"></script>
    <script src="./scripts.js"></script>
    <script>
      $(document).ready(function () {
        emailMocker();
      });
    </script>
  </body>
</html>
