<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">
    <script src="./index.js"></script>


    <!-- Title -->
    <title>LVA-006</title>
</head>

<body>
    <header>
    </header>

    <main>
        <main class="container shadow border mt-5" id="Assignment6" v-cloak>
            <section class="card shadow bg-secondary mt-3 d-flex align-items-center p-3">
                <p>URL Breaker</p>
            </section>
            <section class="mt-4">
                <div class="row d-flex">
                    <div class="col-2  text-center">URL : </div>
                    <div class="col-10">
                        <input type="text" class="w-100" v-model="url">
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-4">
                        <button @click="geturl">
                  Display parts
                </button>
                    </div>
                    <div class="col-4">
                        <button @click="clearurl">
                      Clear URL
                    </button>
                    </div>
                    <div class="col-4">
                        <button @click="gotourl">
                      Go To URL
                    </button>
                    </div>
                </div>
                <div class="d-flex flex-column mb-4 px-4 ">

                    <label class="py-2">Protocol : {{ protocol }}</label>
                    <label class="py-2">Domain Name : {{ DomainName }}</label>
                    <label class="py-2">Sub-Domian : {{ SubDomain }}</label>
                    <label class="py-2">Port Number : {{ PortNumber }}</label>
                    <label class="py-2">Path : {{ path }}</label>
                    <label class="py-2">Query : {{ Query }}</label>
                    <label class="py-2">Anchor : {{ Anchor }}</label>
        </main>
        <footer>
        </footer>

        <noscript>Your browser don' t support JavaScript!</noscript>
        <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>
        <!-- vuejs -->

        <Script>
            $(document).ready(function() {
                urlbreaker()
            })
        </Script>
        <script src="../vue.js"></script>

</body>

</html>