<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css" />

    <!-- Title -->
    <title>LVA-014</title>
  </head>
  <!-- body content -->

  <body>
    <main class="container mt-5" id="app">
      <div class="border">
        <a href="#" class="decor m-3 text-dark" @click="shprofile">Profile</a>
        <a href="#" class="decor m-3 text-dark" @click="shemp">Employement</a>
        <a href="#" class="decor m-3 text-dark" @click="shproperty">Property</a>
        <a href="#" class="decor m-3 text-dark" @click="shpreview">Preview</a>
      </div>

      <!-- Loan apps Profile -->
      <div class="card shadow" id="Profile " v-if="Profile">
        <form class="row g-3 p-3">
          <div class="col-md-4">
            <label for="inputEmail " class="form-label">First Name</label>
            <input type="email " class="form-control" id="inputEmail4" v-model="loanProf.firstName" />
          </div>
          <div class="col-md-4">
            <label for="inputPassword " class="form-label">Last Name</label>
            <input type="password " class="form-control" id="inputPassword4" v-model="loanProf.lastName" />
          </div>
          <div class="col-md-4">
            <label for="inputPassword " class="form-label">Name Of Business</label>
            <input type="password " class="form-control" id="inputPassword4" v-model="loanProf.business" />
          </div>
          <div class="col-12">
            <label for="inputAddress " class="form-label">Address</label>
            <input type="text " class="form-control" id="inputAddress" placeholder=" " v-model="loanProf.profaddress" />
          </div>
          <!-- componentforaddress -->
          <simple-component v-bind:loan-object="loanProf"></simple-component>

          <div class="d-flex justify-content-center mt-4">
            <button type="submit " class="mx-2">Cancel</button>
            <button type="submit " class="mx-2" @click="shemp">Next</button>
          </div>
        </form>
      </div>

      <!-- Loan apps Employement -->
      <div class="card" id="Employement" v-if="Employement">
        <form class="row g-3 p-3">
          <div class="col-md-4">
            <label for="inputEmail " class="form-label">Name of Employer</label>
            <input type="email " class="form-control" id="inputEmail4 " v-model="loanEmployee.NameofEmployer" />
          </div>
          <div class="col-md-4">
            <label for="inputPassword " class="form-label">No. of yrs with Employer</label>
            <input type="password " class="form-control" id="inputPassword4 " v-model="loanEmployee.yrWithEmployee" />
          </div>
          <div class="col-md-4">
            <label for="inputPassword " class="form-label">Salary</label>
            <input type="password " class="form-control" id="inputPassword4 " v-model="loanEmployee.salary" />
          </div>
          <div class="col-12">
            <label for="inputAddress " class="form-label">Company Address</label>
            <input type="text " class="form-control" id="inputAddress " placeholder=" " v-model="loanEmployee.empladdress" />
          </div>
          <!-- componentforaddress -->
          <simple-component v-bind:loan-object="loanEmployee"></simple-component>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit " class="mx-2" @click="shprofile">prev</button>
            <button type="submit " class="mx-2" @click="shproperty">Next</button>
          </div>
        </form>
      </div>

      <!-- Loan apps Property -->
      <div class="card" id="Property" v-if="Property">
        <form class="row g-3 p-3">
          <div class="col-md-4">
            <label for="inputEmail " class="form-label">Property Name</label>
            <input type="email " class="form-control" id="inputEmail4" v-model="loanProperty.propName" />
          </div>
          <div class="col-md-5">
            <label for="inputState " class="form-label">Type Of Property</label>
            <select id="inputState " class="form-select" v-model="selectedproperty">
              <option v-for="properytype in typofproperty" v-bind:value="properytype">{{properytype}}</option>
            </select>
          </div>
          <div class="col-12">
            <label for="inputAddres " class="form-label">Property Location</label>
            <input type="text " class="form-control" id="inputAddress " placeholder=" " v-model="loanProperty.propLocation" />
          </div>
          <!-- componentforaddress -->
          <simple-component :loan-object="loanProperty"></simple-component>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit " class="mx-2" @click="shprofile ">prev</button>
            <button type="submit " class="mx-2" @click="shpreview">Next</button>
          </div>
        </form>
      </div>

      <!-- Loan Application preview  -->
      <div class="card" id="preview" v-if="preview">
        <!-- preview for Profile -->
        <form class="row g-3 p-3">
          <div class="#">
            <div class="col-md-4">
              <label class="form-label">First Name</label>
              <p>{{loanProf.firstName}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label">Last Name</label>
              <p>{{loanProf.lastName}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label">Name Of Business</label>
              <p>{{loanProf.business}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">Address</label>
              <p>{{loanProf.profaddress}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">City</label>
              <p>{{loanProf.city}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">State</label>
              <p>{{loanProf.state}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">Zipcode</label>
              <p>{{loanProf.zipCode}}</p>
            </div>
          </div>
          <!-- preview for Employement -->
          <div class="row g-3 p-3">
            <div class="col-md-4">
              <label class="form-label">Name of Employer</label>
              <p>{{loanEmployee.NameofEmployer}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label">No. of yrs with Employer</label>
              <p>{{loanEmployee.yrWithEmployee}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label">Salary</label>
              <p>{{loanEmployee.Salary}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">Address</label>
              <p>{{loanEmployee.empladdress}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">City</label>
              <p>{{loanEmployee.city}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">State</label>
              <p>{{loanEmployee.state}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">Zipcode</label>
              <p>{{loanEmployee.zipCode}}</p>
            </div>
          </div>
          <div class="row g-3 p-3">
            <div class="col-md-4">
              <label class="form-label">Name of Employer</label>
              <p>{{loanProperty.propName}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label"> Type Of Property</label>
              <p>{{selectedproperty}}</p>
            </div>
            <div class="col-md-4">
              <label class="form-label">Property Location</label>
              <p>{{loanProperty.propLocation}}</p>
            </div>

            <div class="col-12">
              <label class="form-label">City</label>
              <p>{{loanProperty.city}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">State</label>
              <p>{{loanProperty.state}}</p>
            </div>
            <div class="col-12">
              <label class="form-label">Zipcode</label>
              <p>{{loanProperty.zipCode}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit " class="mx-2" @click="clearcontent">Cancel</button>
            <button type="submit " class="mx-2" @click="submitview">Submit</button>
          </div>
        </form>
      </div>

      <!-- submitted message page -->
      <div class="card" id="submitted" v-if="submit">
        <div class="text-center"><i class="bi bi-check-circle fs-1"></i></div>
        <div class="text-center">
          <h3>
            Thanks for applying loan, We have received your application.<br />
            We will get back to you for further information.
          </h3>
        </div>
      </div>
    </main>

    <!-- Template for Component -->
    <template id="componentforaddress">
      <div class="d-flex mt-3">
        <div class="col-md-5">
          <label for="inputState" class="form-label">City</label>
          <select id="inputState" class="form-select" v-model="loanObject.city">
            <option v-for="cty in profCity" v-bind:value="cty">{{cty}}</option>
          </select>
        </div>
        <div class="col-md-5">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select" v-model="loanObject.state">
            <option v-for="stt in proState" v-bind:value="stt">{{stt}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip" v-model="loanObject.zipCode" />
        </div>
      </div>
    </template>

    <!-- CDN Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <!-- Scripts -->
    <script src="../vue.js"></script>
    <script src="./scripts.js"></script>
    <script>
      $(document).ready(function () {
        LoanApplication();
      });
    </script>
  </body>
</html>
