<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->

    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src=" ./scripts.js" defer></script>


    <title> LVA - 001
    </title>
</head>

<body>
    <main class=" container card pt-3 shadow mt-5 " id="list" v-cloak>
        <div class="d-flex border mb-3 bg-light ">
            <div class="col-4 fw-bold text-center "> List
            </div>
            <div class="col-4 ">
            </div>
            <div class="col-4 fw-bold text-center "> Bucket
            </div>
        </div>
        <div class="row ms-3 mb-3 ">
            <div class="col-4 ">
                <select multiple="multiple " v-model="Selecteditem" class=" bg-light h-100 w-100 ">
                        <option v-for="id in lists "v-bind:value="id" v-cloak> {{id.Name}}
                            </option>
                                </select>
            </div>
            <div class=" row col-4 ">
                <button @click="push1() " type="button " class="btn-secondary "><i class="bi bi-chevron-right "></i></button>
                <button @click="pushrev()" type="button " class="btn-secondary "><i class="bi bi-chevron-left "></i></button>
                <button @click="pushall()" type="button " class="btn-secondary "><i class="bi bi-chevron-right "></i><i class="bi bi-chevron-right "></i > </button>
                <button @click="pushrevall()" type="button " class="btn-secondary "><i class = "bi bi-chevron-left "></i><i class="bi bi-chevron-left "></i ></button></div>
            <div class="col-4 ">
                <select class=" w-100 h-100 bg-light " multiple v-model="Selected">
            <option v-for ="x in list1" v-bind:value ="x" v-cloak> {{x.Name}} </option>
        </select>
            </div>
        </div>

    </main>
    <footer>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js "></script>
    <!-- vuejs -->

    <script src="../vue.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            BucketList({});
        });
    </script>
</body>

</html>