<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css" />

    <!-- Title -->
    <title>LVA-012</title>
  </head>

  <body>
    <header></header>

    <main class="container card shadow mt-4" id="app" v-cloak>
      <h2 class="text-center mb-5 mt-5">Color Me</h2>
      <div class="row">
        <div class="col-6">
          <div class="mt-4 fw-bold">Colors</div>
          <select class="form-select mt-2 w-50" name="" id="" v-model="colorsEmp">
            <option v-for="data in colors" :value="data">{{data}}</option>
          </select>
        </div>
        <div class="col-6">
          <div class="card mb-5 shadow cardstyle w-50 p-5" :style="{backgroundColor:colorsEmp}"></div>
        </div>
      </div>
    </main>

    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        color();
      });
    </script>
    <script src="./scripts.js"></script>
    <script src="../vue.js"></script>
  </body>
</html>
