<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">

    <!-- Title -->
    <title>LVA-008</title>
</head>

<body>
    <header>

    </header>

    <main>
        <div class="container mt-5  text-center">
            <div class="card shadow" id='app'>
                <h2>Tip Calculaotr</h2>
                <div class="col">
                    <label for="">How much was your bill?</label>
                    <div class="">
                        <input class="mt-3 w-50 shadow" type="text " v-model="bill">
                    </div>
                    <div class=" ">
                        <label>How  was our services?</label>
                        <div class="">
                            <select class="w-50 mt-3 shadow" v-model="caltiplist " name=" " id=" ">
                                <option v-for="data in service " :value="data ">{{data.value}}</option>
                            </select>
                        </div>
                        <div class="">
                            <label for=" ">How many people are sharing the bill?</label>
                            <div class="">
                                <input class="mt-3 w-50 mb-3  shadow" type="text " v-model="people">
                            </div>
                            <Button @click="calculatetip" class="mt-2 mb-3 shadow">Calculate</Button>
                        </div>
                        <label class=" shadow border mb-4">{{tip}}</label>

                    </div>
                </div>
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC " crossorigin="anonymous ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
    <link rel="stylesheet " href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css ">
    <!-- vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js "></script>

    <script src="../vue.js"></script>
    <Script>
        $(document).ready(function() {
            tipCalci()
        })
    </Script>
    <script src="./scripts.js "></script>
</body>

</html>