<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">

    <!-- Title -->
    <title>LVA-009</title>
</head>

<body>
    <main class="container  mt-5 px-5 py-5" id="app">
        <div class="main-wrap">
            <section class="w-50 shadow"> 
                <h3 class="text-center mt-3 border bg-secondary px-3">Order Items</h3>
                <section class="card m-2 mb-2">
                <ordered-component v-for="order of orderList" :order="order" class=" bg-light m-2 "></ordered-component>
                </section>
            </section>
            <div class="d-flex justify-content-between p-2 px-4 mt-2 w-50">
                <button class="  p-1"  @click="clearAmt">Clear Order</button>
                <button class="  p-1" @click="showTotalAmt">Place Order</button>
            </div>
       
       <section class="listRow mt-3 card w-50 shadow" v-if="total">
                <div class="d-flex justify-content-between px-3  py-2">
                    <h6 for="">Items Total Amount:</h6>
                    <label for="">{{totalAmt}}</label>
                </div>
                <div class="d-flex justify-content-between px-3  py-2">
                    <h6 for="">Discount:(5% of Items Total Amount)</h6>
                    <label for="">{{discount}}</label>
                </div>
                <div class="d-flex justify-content-between px-3  py-2">
                    <h6 for="">Delivery Charges:(Flat Rs.20)</h6>
                    <label for="">20</label>
                </div>
                <div class="d-flex justify-content-between px-3  border-dark py-2">
                    <h6 for="">Amount To Be Paid:</h6>
                    <label for="">{{paidAmt}}</label>
                </div>
            </section>
        </div>
    </main>
    <template id="orderListcomponent" >
        <div class="d-flex  justify-content-between p-2 px-3 " >
            <div>
             <h6>{{order.item}}</h6>
                <label>{{order.amt}}</label>
            </div>
            <button class="add" v-if="add" @click="addbtn">Add</button>
            <div class="d-flex " v-if="count">
                <button class="px-2  border-primary" @click="incrementValue">+</button>
                <label class="px-2 py-1 border-primary">{{order.increment}}</label>
                <button class="px-2 border-primary" @click="decrementValue">-</button>
            </div>
        </div>
    </template>

    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js "></script>
    <script src="../vue.js"></script>
    <Script>
        $(document).ready(function() {
            order()
        })
    </Script>
    <script src="./scripts.js"></script>
</body>

</html>