.btnclass {
    width: 100px;
    height: 25px
}

.newbtncls {
    width: 20px;
    height: 25px;
}
[v-cloak] {
    display: none;
}
#main div {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
  }
  .main-wrap{
    position:relative;
    left:25%;
  }