<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LVA - 017</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./pomodoro.css">
    <script src="./pomodoro.js"></script>
</head>

<body>
    <main class="container   w-75 mt-5 " id="app">
        <section class="w-75 card bg-light shadow rounded-pill px-5 py-5 mb-5 text-center">
            <h3 class="text-center mt-5 rounded-pill bg-secondary">Pomodoro Timer</h3>
            <div class="mt-5">
                <div class="mb-5" v-if="startTimer">
                    <div class="p-4 border rounded-pill m-2" style="background-color:#009797">
                        <h3 class="text-center" style="color:#fff;">Pomodoro 25 Minutes Timer</h3>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="text-center px-5 py-1  rounded-pill text-white" @click="start" style="background:#181f4c;border:none">Start</button>
                        </div>
                    </div>
                </div>
                <div class="mb-5" v-if="work">
                    <div class="p-1 rounded-pill border m-2" style="background-color:#bd0000">
                        <div class="d-flex justify-content-center">
                            <span class="text-light" style="font-size: 50px;">{{minutes}} : {{seconds}}</span>
                        </div>
                        <div class="d-flex justify-content-between w-50 " style="margin: auto">
                            <div class="text-center text-light mt-2" style="color: #99D5A3">Work</div>
                            <button class="text-center m-2 rounded-pill  text-white" @click="cancelTimer" style="background-color:#bd0000;padding:0 12px;border:1px solid white">Cancel</button>
                        </div>
                       
                    </div>
                </div>
                <div class="mb-5" v-if="breakTimer">
                    <div class="p-1 border  rounded-pill m-2 bg-success">
                        <div class="d-flex justify-content-center">
                            <span class="text-light" style="font-size: 50px;">{{minutes}} : {{seconds}}</span>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <label class="text-center px-5 py-1  text-white">Break</label>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
<script>
    $(document).ready(function () {
      pomodoroTimer()
    })
</script>
<script src="scripts.js"></script>
</html>