<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LVA-015</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <script src="scripts.js"></script>
</head>
<body>
    <main class="container  mt-5 " id="manage_category">
        <div class="d-flex  shadow bg-light  center flex-column">
            <div>
                <section class="card borderss shadow mt-5 mb-5">
                    <h2 class="text-white  text-center p-2 bg-dark">Manage Categories</h2>
                    <section class="row m-2 mt-5">
                        <div class="col-3 mt-4">
                            <button class="btn btn-info btnss fs-5 " @click="openaddrow"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button class="btn btn-success btnss fs-5" v-if="editbtn" @click="openeditrow"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <button class="btn btn-danger btnss fs-5" v-if="deletebtn" @click="opendeleterow"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-9">
                            <div class="card p-5  bg-secondary">
                                <add-categories v-if="addcontainer" :listofcat="listofcat"></add-categories>
                                <edit-categories v-if="editcontainer" :selecteditem="selecteditem" :listofcat="listofcat" :selectedkey="selectedkey" v-cloak>{{selecteditem}}</edit-categories>
                                <delete-categories v-if="deletecontainer" :selecteditem="selecteditem" :listofcat="listofcat" :selectedkey="selectedkey" v-cloak></delete-categories>
                            </div>
                                <div  class="mt-3 mb-5">
                                    <div @click="showbtn(cat)" v-for="cat in listofcat" :value="cat" class="  card bg-dark mt-2 p-2 w-50 text-light list" v-cloak>{{cat.name}}</div>
                                </div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </main>
    <template id="addCategories" v-cloak>
        <div class="">
            <input type="text" class="form-control w-75" placeholder="Enter Categories" v-model="addValue"/>
            <div class="mt-3">
                <button class="btn btn-primary mt-2 me-5 fs-5 " @click="addList"><i class="fa fa-plus p-1 " aria-hidden="true" ></i>Save Category</button>
                <button class="btn btn-light mt-2 fs-5" @click="cancelList"><i class="fa fa-times p-1" aria-hidden="true"></i>Cancel</button>
            </div>
        </div>
    </template>
    <template id="editCategories">
        <div>
            <input type="text" class="form-control w-75" placeholder="Enter Categories"  v-model="editinput"/>
            <div class="mt-1">
                <button class="btn btn-primary mt-2 me-5 fs-5" @click="editList"><i class="fa fa-plus p-1" aria-hidden="true"></i>Edit Category</button>
                <button class="btn btn-light mt-2  fs-5" @click="cancelList" ><i class="fa fa-times p-1 " aria-hidden="true"></i>Cancel</button>
            </div>
        </div>
    </template>
    <template id="deleteCategories">
        <div>
            <input type="text" class="form-control w-75" placeholder="Enter Categories" v-model="deleteinput"/>
            <div class="mt-1">
                <button class="btn btn-primary mt-2 me-5 fs-5" @click="deleteList"><i class="fa fa-plus p-1" aria-hidden="true" ></i>Delete Category</button>
                <button class="btn btn-light mt-2  fs-5" @click="cancelList"><i class="fa fa-times p-1" aria-hidden="true"></i>Cancel</button>
            </div>
        </div>
    </template>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
<script>
    document.onreadystatechange = function () {
        if (document.readyState == "complete") {
            manageCategory();
        }
    }
</script>
</html>








