[v-cloak] {
  display: none;
}
.center {

  margin: 10px;
  width: 100%;
  padding: 40px;
}

.btnss{
    width: 30%;
    height: 50px;
}

.shadows{
    box-shadow: inset 0px 0px 2px #a00;
}
.borderss{
    border-top-right-radius: 5px;

}