body {
  margin: auto;
}
[v-cloak] {
  display: none;
}
.card-content {
  position: fixed;
  width: 70%;
  height: 50% !important;
  background-color: rgb(167, 201, 231);
  align-items: center;
  margin: 15%;
}
button {
  background-color: cadetblue;
}
.divclass1 {
  margin-right: 75px;
}
