<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="./index.js" defer></script>
    <title>LVA-003</title>
</head>

<body>
    <main class="container pt-5 text-center " id="details ">
        <section class="card w-50 mt-5 shadow ">
            <label for=" " class="p-2 ">First Name</label>
            <input type="text " class="p-1 m-1 " v-model="firstName " />
            <label for=" " class="p-1 ">Last Name</label>
            <input type="text " class="p-1 m-1 " v-model="lastName " />
            <label for=" " class="p-2 ">Email Address</label>
            <input type="text " class="p-1 m-1 " v-model="emailAddress " />
        </section>
        <section class=" card w-50 mt-3 shadow d-flex flex-row ">
            <div class="col-4 ">
                <img src="./download.jpg " alt=" " width="100 " height="100 " class="m-3 mt-3 ">
            </div>
            <div class="col-4 w-25 mt-5 " v-cloak>
                <label class="bg-light ">{{firstName}}</label>
                <label class="bg-light ">{{lastName}}</label>
                <label class="bg-light ">{{emailAddress}}</label>
            </div>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js " integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>


<Script>
    $(document).ready(function() {
        details()
    })
</Script>
<script src="../vue.js"></script>


</html>