<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">

    <!-- Title -->
    <title>LVA-010</title>
</head>

<body>
    <header>
    </header>


    <main class="container imgSlider mt-5 " id="app">
        <section class="mt-5  card shadow">
            <h3 class="text-center mt-4">Image Slider</h3>
            <div class="text-center mt-2 ">
                <button class="btn" @click="prev"><i class="bi bi-arrow-left-circle fs-4" aria-idden="rue"></i></button>
                <img :src="slide" class="img-fluid">
                <button class="btn" @click="nxt"><i class="bi bi-arrow-right-circle fs-4" aria-idden="rue"></i></button>
                <div class="d-flex justify-content-center">
                    <div class="dot mx-2 mt-4 mb-3" v-for="n in 6" @click="selectedImage(n)" :class="{active:amIselected(n)}"></div>
                </div>
            </div>
        </section>
    </main>





    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>


    <Script>
        $(document).ready(function() {
            imgSlider()
        })
    </Script>
    <script src="./scripts.js"></script>
    <script src=""></script>
</body>

</html>