.imgSlider {
    width: 60%;
    left: 20%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgb(137, 137, 137);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: rgb(39, 36, 36);
}


/* .btn-image {
    position: relative;
    width: 7%;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: rgb(208, 212, 210);
} */

[v-cloak] {
    display: none;
}