<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Fonts Pre Connect -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts Links (Roboto 400, 500 and 700 included) -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

    <!-- CSS Files Links -->
    <link rel="stylesheet" href="./styles.css">

    <!-- Title -->
    <title>LVA-004</title>
</head>

<body>
    <header>

    </header>

    <main class="container bg-light card border shadow mt-5" id="app">
        <h4 class="text-center bg-secondary text-black mt-4 border">Product Depriciation Calculation</h4>

        <div class="d-flex pt-4 mb-2 me-2 ">
            <div class="col-4   ">
                <div class="input ms-2">
                    <label for="">Product Name: </label> <input class="my-2 form-control w-50" type="text" v-model="ProductName">
                </div>
                <div class="input ms-2">
                    <label for="">Initial Price: </label> <input class="my-2 form-control w-50" type="text" v-model="InitialPrice">
                </div>
                <div class="input ms-2">
                    <label for="">No of Year: </label> <input class="my-2 form-control  w-50 " type="text" v-model="NoOfYear">
                </div>
                <div class="input ms-2">
                    <label for=""> Scrap Value: <label> <input class="my-2 form-control w-50 " type="text" v-model="ScrapValue" >
                </div>
                <div class="input ms-2">
                    <label for=""> Depriciation: </label> <input class="form-control w-50 h-25 my-2" type="text" :value="Depreciation" readonly>
                </div>
                <div class=" d-flex justify-content-center ">

                    <div class="input my-2 ">
                        <Button @click="Submit" class="clickable ">Submit</Button>
                    </div>
                </div>
            </div>
            <div class="col-8 ">
                <form>
                    <table class="table table-bordered border-dark shadow ">
                        <thead>
                            <tr class="bg-secondary ">
                                <th>Year </th>
                                <th>Price</th>
                                <th>Depriciation</th>
                                <th>Product Price</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{NoOfYear}}</td>
                                <td>{{Price}}</td>
                                <td>{{Depreciation}}</td>
                                <td>{{ProductPrice}}</td>

                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </main>

    <footer>
    </footer>

    <script src="./scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css " rel="stylesheet " integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC " crossorigin="anonymous ">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js "></script>
    <script>
        document.onreadystatechange = function() {
            ProDepCal()
        };
    </script>
    <script src="../vue.js"></script>
</body>

</html>